package main

import "github.com/manimovassagh/go-templ/view"
type Item struct {
ID    int
Name  string
Price string
}
var Items = []Item{
{ID: 1, Name: "Item1", Price: "10.0"},
{ID: 2, Name: "Item2", Price: "20.0"},
{ID: 3, Name: "Item3", Price: "30.0"},
}
templ Hello(name string) {

@view.Comp("Mani")
	<div>Hello, { name }</div>
}